---
layout: default
---

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Google Fonts + 日本語</title>
        <!-- ↓↓ここに貼り付ける↓↓ -->
        <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    </head>

<body>
<div class="mid-section-cover">
    <nav>
        <h1><p class="wf-sawarabimincho">{{ site.author_name }}</p></h1>
        {% include navigation.html %}
    </nav>
    <main class="sub-mid-section-cover">
        <p class="wf-sawarabimincho">{{ content }}</p>
    </main>
</div>
    </body>
</html>
