---
layout: description
---
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Google Fonts + 日本語</title>
        <!-- ↓↓ここに貼り付ける↓↓ -->
        <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    </head>

<body>
  <h2>{{ page.title }}</h2>
  <small>{{ post.date | date_to_string }}</small>
  <p class="wf-sawarabimincho">{{content}}</p>
  
<div class="post-categories">
  Categories :
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
      <a href="{{site.url}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>


{% if site.disqus.shortname and page.comments %}
  <hr>
  {% include disqus_comments.html %}
{% endif %}
</body>
</html>
